{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}格式改写 {% endblock %}

{% block page_content %}

<img src="{{ url_for('static', filename='xunfei-logo.jpg')}}" align="right" width="150" hspace="5" vspace="5">

<link href="https://developer.mozilla.org/static/build/styles/wiki.29d8e48ff88c.css" rel="stylesheet" type="text/css" />

<div class="page-header">
<h1>格式改写</h1>
</div>

{{ wtf.quick_form(form) }}

<style> 
    textarea.form-control {
        height: 120px;
    }
</style>   

<div class='header'>
    <h3>原文本:</h3>
</div>

<div class="standardNoteBlock">
    {% if resp %}
    {% for sent in post %}
    <h4><font style="line-height:1.5;"></font> {{ sent }} </font></h4>
    {% endfor %}
    {% else %}
    <h4>请输入原文本</h4>
    {% endif %}
</div>

<hr>

<div class="header">
    <h3>改写文本:</h3>
</div>

<div class="output">
    {% if resp %}
    <h4><font style="line-height:1.5;"> {{ resp }} </font></h4>
    {% else %}
    <h4>请输入原文本</h4>
    {% endif %}
</div>
<style>        
    .output{
    background: #86c7ff; 
    width: 100%; 
    padding: 8px;
    font-size: 18px; 
    color: #5f84a8; 
    border: 1px #d7edff solid; 
    border-radius: 5px; 
    margin: 0px 0px 7px 0px;
    box-shadow:5px 5px 10px gray;
    background: -webkit-linear-gradient(left,#d7edff, #a7d6ff); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right,#d7edff, #a7d6ff); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right,#d7edff, #a7d6ff); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right,#d7edff, #a7d6ff); /* 标准的语法（必须放在最后） */}
</style>

{% endblock %}